<h1 class="header">welcome to angular download excel tutorial</h1>
<h2>we need 2 packages to be installed for downloaing excel<br /></h2>
<h3>
  i)npm i file-saver<br />
  ii)npm i xlsx
</h3>
<p>
  Exporting below table to excel file of type .xslx by clicking the below button
</p>

<button (click)="exportAsXLSX()">
  <img class="excel" src="../assets/excel.png" />
</button>
<table class="table">
  <tr class="row">
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
</table>
