<h1 class="header">welcome to angular download excel tutorial</h1>
<h2>we need 2 packages to be installed for downloaing excel<br /></h2>
<h3>
  i)npm i file-saver<br />
  ii)npm i xlsx
</h3>
<p>
  Exporting below table to excel file of type .xslx by clicking the below button
</p>

<button (click)="exportAsXLSX()">
  <img class="excel" src="assets/Excel.png" />
</button>
<table class="table">
  <tr class="row">
    <th>eid</th>
    <th>ename</th>
    <th>data.esal</th>
  </tr>
  <tr *ngFor="let data of data">
    <td>{{ data.eid }}</td>
    <td>{{ data.ename }}</td>
    <td>{{ data.esal }}</td>
  </tr>
</table>
